header {
	border-bottom:1px solid #e3e3e3;
	text-align: left;
	padding-left:20px;
}

#nav{
	text-align:right;
	padding-left:20px;
}

.blurb{
	padding-left: 20px;
	padding-right: 20px;
}
#head{
	width: 122px;
	height: auto;
	padding-left: 20px;
}


footer {
	position:fixed;
	bottom:10px;
	border-top:1px solid #e3e3e3;
	width:100%;
	left:0px;
	bottom: 0;
	text-align:right;
	padding:10px;
	padding-left: 20px;
	background-color: white;
}
.linkedin{
	width: auto;
	height: 28px;
	float: left;
}
#git{
	padding-left: 20px;
}
#uwpng{
	width: 66%;
	height: auto;
	padding-top: 20px;
}

.st0{fill:#FFFFFF;}

.st1{fill-rule:evenodd;clip-rule:evenodd;fill:#191717;}

svg{
	width: 122px;
	height: auto;
}