<!-- projects.html -->
<div >
	<div class ='center-block text-center container'>
		<div >
			<h2 ng-bind="projectsContent.title"></h2>
		</div>
      <div  >
        <h3>INFO 424</h3>
        <ul class="list-unstyled">
          <li ng-repeat="project in projectsContent.info424"><a href="{{project.url}}">{{project.title}}</a></li>
        </ul>
      </div>
  		<div  >
  			<h3>INFO 343</h3>
  			<ul class="list-unstyled">
  				<li ng-repeat="project in projectsContent.info343"><a href="{{project.url}}">{{project.title}}</a></li>
  			</ul>
  		</div>
  		<div  >
  			<h3>INFO 101</h3>
  			<ul class="list-unstyled">
  				<li ng-repeat="project in projectsContent.info101"><a href="{{project.url}}">{{project.title}}</a></li>
  			</l>
  		</div>
	</div>
</div>