<!-- projects.html -->
<div >
	<div class ='center-block text-center container'>
		<div >
			<h3 ng-bind="projectsContent.title"></h3>
      <img id ="uwpng"src="../assets/png/uw.png">
		</div>
      <div>
        <h4>INFO 424</h4>
        <ul class="list-unstyled">
          <li ng-repeat="project in projectsContent.info424"><a href="{{project.url}}">{{project.title}}</a></li>
        </ul>
      </div>
  		<div  >
  			<h4>INFO 343</h4>
  			<ul class="list-unstyled">
  				<li ng-repeat="project in projectsContent.info343"><a href="{{project.url}}">{{project.title}}</a></li>
  			</ul>
  		</div>
  		<div  >
  			<h4>INFO 101</h4>
  			<ul class="list-unstyled">
  				<li ng-repeat="project in projectsContent.info101"><a href="{{project.url}}">{{project.title}}</a></li>
  			</l>
  		</div>
	</div>
</div>